.hugh-track {
  width: 260px;
  height: 21px;
  background: url(images/hugh/spectrum.png) no-repeat 2px center;
}

.hugh-handle {
  width: 5px;
  height: 21px;
  background: url(images/hugh/handle.png) no-repeat;
  cursor: W-resize;
}
